@charset "utf-8";
/* SIR 지운아빠 */

/* 새글 스킨 (latest) */
.lt_pc {float:left;margin-left:20px}
.lt {position:relative;float:left;width:100%}
.lt ul {margin:0 0 0px;padding:0;list-style:none}
.lt li {padding:14px 0;color:red;padding-left:10px;border-bottom:1px solid #efefef}
.lt li:last-child	{border-bottom:0px;}
.lt li:hover {background:#fafafa;text-decoration:none;}
.lt .lt_title {display:block;padding:10px 0 8px}
.lt .lt_more {position:absolute;top:10px;right:0}
.lt .cnt_cmt {display:inline-block;margin:0 0 0 3px;font-weight:bold}